<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- <img src="bull.png" id="bull">
    <img src="lime2.jpg" id="lime2"> -->
    <img src="./assets/maincharacters/char_a_p1_0bas_humn_v01.png" id="character">
    <img id="mill" src="./assets/blocks/Mill.png">
    <canvas id="game"></canvas>
    <div class="arrow" id="arrow1"></div>
    <div class="arrow" id="arrow2"></div>
    <template>
    <div id="gamePanel">
        <p>{{name}}</p>
        <input type="button" value="Belépés a házba">
        {{valami}}
    </div>
 
</template>
<p id="mouseCoordinates">
</p>
    <script type="module" src="main.js"></script>
</body>
</html>