#name {
  font-size: 20px;
  vertical-align: middle;
}

.fbLogo {
  float: right;
  padding: 2.5px 10px 2.5px 10px;
}

.igLogo {
  float: right;
  padding: 2.5px 10px 2.5px 10px;
}

#gameLogo {
  border: 2px solid black;
  border-radius: 100%;
  height: 250px;
  width: 250px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

#mainPanel {
  margin-top: 50px;
  border: 1px solid black;
  min-width: 300px;
}

#buttonPanel {
  border: 1px solid black;
}

.menuBox {
  border: 1px solid black;
  min-height: 50px;
}

#firstBlock {
  padding: 0px;
}

#secondBlock {
  padding: 0px;
}

.news {
  border: 1px solid black;
  height: 450px;
}

#logRegMenu {
  padding: 0px;
}

#log {
  border: 1px solid black;
  height: 280px;
}

#reg {
  border: 1px solid black;
  height: 170px;
}

#bejelentkezes {
  text-align: center;
  margin: 50px 0px 10px 0px;
}

.input {
  width: 170px;
}

.customBtn {
  width: 120px;
}

#kerdes {
  margin: 40px 0px 10px 0px;
}

#mobile {
  border: 1px solid black;
  height: 450px;
}

#mobilePanel {
  padding: 0px;
}

.androidPanel {
    margin: 17px auto 17px auto;
}

.android {
  border: 1px solid black;
  height: 200px;
}

#androidLogo {
    padding: 30px 0px 10px 0px;
}

#androidObject {
    padding: 75px 0px 75px 0px;
}
