body {
  padding: 0px;
  color: white;
}

#name {
  font-size: 20px;
  vertical-align: middle;
}

.fbLogo {
  float: right;
  padding: 2.5px 10px 2.5px 10px;
}

.igLogo {
  float: right;
  padding: 2.5px 10px 2.5px 10px;
}

#gameLogo {
  border-radius: 100%;
  height: 300px;
  width: 300px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 2;
}

#mainPanel {
  border: 50px solid transparent;
  border-image: url(./assets/border.png) 30 stretch;
  background-image: url(./assets/asd.png);
  /* background-image: linear-gradient(
    to bottom,
    rgba(230, 174, 22, 0.263),
    rgba(230, 174, 22, 0.263)
  ), url(./assets/asd.png); */
  min-width: 300px;
  margin-top: 210px;
}

#buttonPanel {
  border: 1px solid white;
  margin-left: 12px;
  margin-right: 12px;
}

.menuBox {
  border: 1px solid white;
  min-height: 40px;
  min-width: 130px;
  padding: 0px;
}

.menuItem {
  border: 1px solid white;
  border-radius: 25px;
  border: 2px solid black;
  transition-duration: 0.4s;
  margin: 10px 0px 10px 0px;
  min-width: 130px;
}

.menuItem:hover {
  box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
  background-color: black;
  color: white;
}

#firstBlock {
  padding: 0px;
}

.featureHeader {
  min-height: 50px;
}

.featureTitle {
  padding: 20px 0px 20px 0px;
  margin-bottom: 20px;
}

#secondBlock {
  padding: 0px;
}

.news {
  border: 1px solid white;
  height: 450px;
}

#logRegMenu {
  padding: 0px;
}

#log {
  border: 1px solid white;
  height: 280px;
}

#reg {
  border: 1px solid white;
  height: 170px;
}

#bejelentkezes {
  text-align: center;
  margin: 50px 0px 10px 0px;
}

.input {
  width: 170px;
}

.customBtn {
  width: 120px;
}

#kerdes {
  margin: 40px 0px 10px 0px;
}

#mobile {
  border: 1px solid white;
  height: 450px;
}

#mobilePanel {
  padding: 0px;
}

.androidPanel {
  margin: 17px auto 17px auto;
}

.android {
  border: 1px solid white;
  height: 200px;
}

.box {
  height: 100px;
  margin: 48px 0px 48px 0px;
}

#androidLogo {
  padding-bottom: 10px;
}

#androidObject {
  padding: 75px 0px 75px 0px;
}

#footer {
  height: 200px;
  background-color: black;
}

@media only screen and (max-width: 950px) {
  body {
    font-size: 13px;
  }

  #mainPanel {
    margin-top: 230px;
  }

  .input {
    width: 130px;
  }

  .menuBox {
    min-width: 100px;
  }

  .menuItem {
    min-width: 100px;
    padding: 0px;
  }
}

@media only screen and (min-width: 950px) and (max-width: 1100px) {
  .menuBox {
    min-width: 70px;
  }

  .menuItem {
    min-width: 70px;
    padding: 0px;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1500px) {
  .menuBox {
    min-width: 100px;
  }

  .menuItem {
    min-width: 100px;
    padding: 0px;
  }
}