.SocLogo {
    padding-left: 10px;
    padding-right: 10px;
}

#gameLogo {
    border: 1px solid black;
    height: 200px;
    width: 200px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.mainPanel {
    margin-top: 50px;
    border: 1px solid black;
}

.buttonPanel {
    border: 1px solid black;
}

.menuElem {
    border: 1px solid black;
}

#firstBlock {
    padding: 0px;
}

#news {
    border: 1px solid black;
    height: 450px;
}

#logRegMenu {
    padding: 0px;
}

#log {
    border: 1px solid black;
    height: 300px;
}

#bejelentkezes {
    text-align: center;
    margin: 50px 0px 10px 0px;
}

#reg {
    border: 1px solid black;
    height: 150px;
}

#kerdes {
    margin: 40px 0px 10px 0px;
}