@font-face {
  font-family: 'OwnFont';
  src: url('assets/font/joystix\ monospace.otf');
}

*{
  font-family: 'OwnFont', sans-serif;
}

:root{
  --mainPanelminwidth:300px;
  --inputminwidth:200px;
  --buttonminwidth:150px;
  --buttonfontsize:20px
}

body {
  padding: 0px;
  background: url(assets/main_bg.png) fixed no-repeat 0/100% 100%;
}

nav {
  background: url(assets/navbar_piece.png) repeat 0/90px;
  min-width: var(--mainPanelminwidth);
}

nav>*{
  padding: 3px 0 3px 0
}

.paper{
  background-image: url(assets/paper.png);
  background-size: 100% 100%;
  min-height: 300px;
  font-weight: bold;
  padding: 60px 15px 30px 15px;
}
.paper h4{
  font-weight: inherit;}

#login {
  font-size: 20px;
}

#InputEmail {
  font-size:  12px;
}

#InputPassword {
  font-size: 12px;
}

#forgetPass {
  font-size: 16px;
}

#gameLogo {
  display: block;
  height: 260px;
  width: 300px;
  margin-inline: auto;
  position: relative;
  top:30px;
  z-index: 1;
}

#border {
  border: 20px solid transparent;
  border-image: url(assets/border.png) 70;
  min-width: var(--mainPanelminwidth);
  background: transparent url(assets/table_bg.png) repeat content-box;
}

#buttonPanel {
  border-bottom: 10px solid transparent;
  border-image: url(assets/border2.png) 70 repeat;
}

#buttonPanel>*>* {
  background: url(assets/buttons/button1.png) center no-repeat;
  display: block;
  background-size: 100% 100%;
  transition-duration: 0.4s;
  border-radius: 1rem;
  font-weight: bold;
  width: 100%;
  padding: 5px;
  margin: 2.5px;
  font-size: 120%;
  color: gold;
  text-decoration: none;
}

#buttonPanel>*>*:hover {
  background-image: url(assets/buttons/button1H.png);
  color: yellow;
}

form{
  min-height: 200px;
}

a{
  color: gold;
}
#forms button,.button {
  background-image: url(assets/buttons/button3.png);
  border-style: none;
  background-size: 100% 100%;
  transition-duration: 0.4s;
  color: white;
  min-width: var(--buttonminwidth);
  font-size: var(--buttonfontsize);
}

#forms button:hover,.button:hover {
  background-image: url(assets/buttons/button3H.png);
  color: rgb(255, 255, 162);
}

#forms>*:first-child{
  color: gold;
  background-color: rgb(0, 0, 0, 0.4);
  border-block: 10px solid;
  border-image: url(assets/border2.png) 70;
}

#forms>*:first-child *{
  margin: 0;
  margin-bottom: 5px;
}

#forms input {
  width: 60%;
  min-width: var(--inputminwidth);
}

.registrationForm {
  font-size: 12px;
}

#mobilePanel{
  color: gold;
}

#mobilePanel img:hover {
  content: url(assets/android.gif);
  cursor: pointer;
}

#mobilePanel>*:first-child{
  background-color: rgb(0, 0, 0, 0.4);
}

#mobilePanel>*:first-child>*:first-child{
  border-block: 10px solid;
  border-image: url(assets/border2.png) 70;
}

#mobilePanel>*:first-child>*:last-child{
  border-block: 10px solid;
  border-image: url(assets/border2.png) 70;
  font-size: 150%
}

#mobilePanel img {
  transition-duration: 0.4s;
}

#borderLine{
  border-top:10px solid;
  border-image: url(assets/border2.png) 70;
  width: 100%;
}

#lanc {
  margin: auto;
  height: 200px;
  border-inline: 30px solid;
  border-image: url(assets/chain.png) 150 repeat;
  min-width: var(--mainPanelminwidth);
}

#footer {
  padding-top: 30px;
  text-align: center;
  color: white;
  height: 200px;
  background-color: rgb(0, 0, 0,0.5);
  border: 10px solid;
  border-image: url(assets/border2.png) 70;
  min-width: var(--mainPanelminwidth);
}



#footer p {
  color: gold;
}