@font-face {
  font-family: 'OwnFont';
  src: url('./assets/font/font.woff2') format('woff2');
}

body {
  padding: 0px;
  background-image: url(./assets/main_bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: 'OwnFont', sans-serif !important;
}

#name {
  font-size: 20px;
  vertical-align: middle;
}

nav {
  background-image: url(./assets/navbar_piece.png);
  background-repeat: repeat;
  background-size: 90px;
}

nav a{
  padding: 3px 0 3px 0
}

#gameLogo {
  border-radius: 100%;
  height: 260px;
  width: 300px;
  margin-inline: auto;
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 2;
}

#border {
  border: 20px solid transparent;
  border-image: url(./assets/border.png) 70;
  margin-top: 220px;
  min-width: 300px;
}

#mainPanel {
  position: relative;
  background: transparent url(./assets/table_bg.png) repeat;
  overflow: hidden;
}

#buttonPanel {
  border-bottom: 10px solid transparent;
  border-image: url(./assets/border2.png) 70 repeat;
}


#buttonPanel *{
  color: gold;
  text-decoration: none;
}
#buttonPanel>*>* {
  background-image: url(./assets/buttons/button1.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition-duration: 0.4s;
  font-size: 25px;
  border-radius: 1rem;
  font-weight: bold;
  width: 100%;
}

#buttonPanel>*>*:hover {
  background-image: url(./assets/buttons/button1H.png);
  color: yellow;
}

#logRegMenu button {
  background-image: url(./assets/buttons/button3.png);
  background-color: transparent;
  border-style: none;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition-duration: 0.4s;
  min-height: 80%;
  min-width: 100%;
  color: white;
  font-size: 25px;
}

#logRegMenu button:hover {
  background-image: url(./assets/buttons/button3H.png);
  color: rgb(255, 255, 162);
}


#mobilePanel{
  color: gold;
  font-size: 30px;
}

#mobilePanel button:hover {
  background-image: url(./assets/android.gif);
}

#mobilePanel *{margin: 0;padding: 0;}

#mobilePanel>*:first-child{
  background-color: rgb(0, 0, 0, 0.4);
}

#mobilePanel>*:first-child>*:first-child{
  border-bottom: 10px solid;
  border-top: 10px solid;
  border-image: url(./assets/border2.png) 70;
}

#mobilePanel>*:first-child>*:last-child{
  border-bottom: 10px solid;
  border-top: 10px solid;
  border-image: url(./assets/border2.png) 70;
}

#mobilePanel button {
  background-image: url(./assets/android.png);
  background-size: 90% 80%;
  background-position: center;
  background-repeat: no-repeat;
  transition-duration: 0.4s;
  border-style: none;
  min-height: 70%;
  min-width: 90%;
  height: 350px;
  background-color: transparent
}

#firstBlock {
  padding: 0px;
  overflow: hidden;
  color: black;
  text-align: left;
  margin-bottom: 0;
  font-weight: bold;
}

.jatekrol {
  background-image: url(./assets/paper.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  height: 100%;
}

.jatekrol a {
  padding: 10px 40px 10px 0px;
  float: right;
}

.featureHeader {
  min-height: 50px;
}

.featureTitle {
  color: rgb(176, 18, 18) !important;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
}

.feature {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0px;
  font-size: 20px;
}

#secondBlock {
  padding: 0px;
  overflow: hidden;
  color: black;
  text-align: left;
  font-weight: bold;
  margin-bottom: 0;
}

#thirdBlock {
  padding: 0px;
  overflow: hidden;
  color: black;
  text-align: left;
  font-weight: bold;
  margin-bottom: 0;
}

.news {
  height: 450px;
}

#logRegMenu {
  color: gold;
}
#logRegMenu h3{font-size: 150%;
margin-bottom: 0;}

#log {
  margin-top: 20px;
  background-color: rgb(0, 0, 0, 0.4);
  border: 10px solid;
  border-image: url(./assets/border2.png) 70;
  height: 250px;
}

#reg {
  background-color: rgb(0, 0, 0, 0.4);
  border-bottom: 10px solid;
  border-image: url(./assets/border2.png) 70;
  font-size: 20px;
  height: 150px;
  margin-bottom: 10px;
}

#logRegMenu input {
  width: 60%;
}

.androidPanel {
  margin: 17px auto 17px auto;
}

.android {
  height: 200px;
}

.box {
  height: 100px;
  margin: 48px 0px 48px 0px;
}

#androidLogo {
  padding-bottom: 10px;
}

#androidObject {
  padding: 75px 0px 75px 0px;
}

#lanc {
  margin: auto;
  height: 200px;
  border-right: 30px solid;
  border-left: 30px solid;
  border-image: url(./assets/chain.png) 150 repeat;
  min-width: 300px;
}

#footer {
  padding-top: 30px;
  text-align: center;
  color: white;
  height: 200px;
  background-color: rgb(0, 0, 0,0.5);
  min-width: 300px;
  border: 10px solid;
  border-image: url(./assets/border2.png) 70;
}

#footer h1 {
  font-size: 30px;
}

#footer p {
  color: gold;
  font-size: 20px;
}

/* @media only screen and (max-width: 950px) {
  body {
    font-size: 13px;
  }

  .input {
    width: 130px;
  }

  .menuBox {
    min-width: 100px;
  }

  .menuItem {
    min-width: 140px;
    min-height: 40px;
    padding: 0px;
  }

  #border {
    margin-top: 220px;
  }

  .jatekrol a {
    padding: 0px 20px 30px 0px;
  }
}

@media only screen and (min-width: 950px) and (max-width: 1100px) {
  #border {
    margin-top: 210px;
  }

  .menuBox {
    min-width: 70px;
  }

  .menuItem {
    min-width: 95px;
    min-height: 40px;
    padding: 0px;
  }

  .jatekrol a {
    padding: 0px 20px 30px 0px;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1500px) {
  .menuBox {
    min-width: 100px;
  }

  .menuItem {
    min-height: 40px;
    min-width: 105px;
    padding: 0px;
  }

  .jatekrol a {
    padding: 0px 20px 30px 0px;
  }

  .featureTitle {
    padding-top: 10px;
  }
} */