@font-face {
  font-family: 'OwnFont';
  src: url('./assets/font/font.woff2') format('woff2');
}
*{
  font-family: 'OwnFont', sans-serif;
}
body {
  padding: 0px;
  background-image: url(./assets/main_bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

#regisztracioForm{
  color:gold
}

#regisztracioForm input{
  width: 50%;
}

#regisztracioForm button {
  background-image: url(./assets/buttons/button3.png);
  background-color: transparent;
  border-style: none;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition-duration: 0.4s;
  color: white;
  font-size: 25px;
}

#regisztracioForm button:hover {
  background-image: url(./assets/buttons/button3H.png);
  color: rgb(255, 255, 162);
}
#regisztracioForm *{
  margin: 0;margin-bottom: 5px;
}


nav {
  background-image: url(./assets/navbar_piece.png);
  background-repeat: repeat;
  background-size: 90px;
}

nav a{
  padding: 3px 0 3px 0
}

.paper{
  background-image: url(assets/paper.png);
  background-size: 100% 100%;
  min-height: 300px;
  font-weight: bold;
  font-size: 1.2em;
}
.paper h4{font-weight: bold;}

#gameLogo {
  display: block;
  height: 260px;
  width: 300px;
  margin-inline: auto;
  position: relative;
  top:30px;
  z-index: 1;
}

#border {
  border: 20px solid transparent;
  border-image: url(./assets/border.png) 70;
}

#mainPanel {
  position: relative;
  background: transparent url(./assets/table_bg.png) repeat;
  overflow: hidden;
}

#buttonPanel {
  border-bottom: 10px solid transparent;
  border-image: url(./assets/border2.png) 70 repeat;
}


#buttonPanel *{
  color: gold;
  text-decoration: none;
}
#buttonPanel>*>* {
  background-image: url(./assets/buttons/button1.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition-duration: 0.4s;
  font-size: 25px;
  border-radius: 1rem;
  font-weight: bold;
  width: 100%;
}

#buttonPanel>*>*:hover {
  background-image: url(./assets/buttons/button1H.png);
  color: yellow;
}

#forms button {
  background-image: url(./assets/buttons/button3.png);
  background-color: transparent;
  border-style: none;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition-duration: 0.4s;
  color: white;
  font-size: 25px;
}

#forms button:hover {
  background-image: url(./assets/buttons/button3H.png);
  color: rgb(255, 255, 162);
}


#mobilePanel{
  color: gold;
  font-size: 30px;
}

#mobilePanel img:hover {
  content: url(assets/android.gif);
  cursor: pointer;
}


#mobilePanel>*:first-child{
  background-color: rgb(0, 0, 0, 0.4);
}

#mobilePanel>*:first-child>*:first-child{
  border-bottom: 10px solid;
  border-top: 10px solid;
  border-image: url(./assets/border2.png) 70;
}

#mobilePanel>*:first-child>*:last-child{
  border-bottom: 10px solid;
  border-top: 10px solid;
  border-image: url(./assets/border2.png) 70;
}

#mobilePanel img {
  transition-duration: 0.4s;
}




#forms>*:first-child{
  color: gold;
  background-color: rgb(0, 0, 0, 0.4);
  border-bottom: 10px solid;
  border-top: 10px solid;
  border-image: url(./assets/border2.png) 70;

  
}

#borderLine{
  border-top:10px solid;
  border-image: url(./assets/border2.png) 70;
  width: 100%;
}

#forms>*:first-child *{
  margin: 0;
  margin-bottom: 5px;
}

#forms input {
  width: 60%;
}

#lanc {
  margin: auto;
  height: 200px;
  border-right: 30px solid;
  border-left: 30px solid;
  border-image: url(./assets/chain.png) 150 repeat;
  min-width: 300px;
}

#footer {
  padding-top: 30px;
  text-align: center;
  color: white;
  height: 200px;
  background-color: rgb(0, 0, 0,0.5);
  min-width: 300px;
  border: 10px solid;
  border-image: url(./assets/border2.png) 70;
}

#footer h1 {
  font-size: 30px;
}

#footer p {
  color: gold;
  font-size: 20px;
}

/* @media only screen and (max-width: 950px) {
  body {
    font-size: 13px;
  }

  .input {
    width: 130px;
  }

  .menuBox {
    min-width: 100px;
  }

  .menuItem {
    min-width: 140px;
    min-height: 40px;
    padding: 0px;
  }

  #border {
    margin-top: 220px;
  }

  .jatekrol a {
    padding: 0px 20px 30px 0px;
  }
}

@media only screen and (min-width: 950px) and (max-width: 1100px) {
  #border {
    margin-top: 210px;
  }

  .menuBox {
    min-width: 70px;
  }

  .menuItem {
    min-width: 95px;
    min-height: 40px;
    padding: 0px;
  }

  .jatekrol a {
    padding: 0px 20px 30px 0px;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1500px) {
  .menuBox {
    min-width: 100px;
  }

  .menuItem {
    min-height: 40px;
    min-width: 105px;
    padding: 0px;
  }

  .jatekrol a {
    padding: 0px 20px 30px 0px;
  }

  .featureTitle {
    padding-top: 10px;
  }
} */