* {
    box-sizing: border-box;
}
body {
    background-color: rgb(112, 203, 239);
    margin: 0;
    font-size: 150%;
    
}

body>* {
    position: absolute;
}
body>*.gamePanel, .relative
{
  margin-left: 25%;
}

canvas {
    background-repeat: no-repeat;
    background-size: 100% 100%;
transform: translate(50%);
-webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

img
{
    width: 4vw;
    height: 4vw;
    vertical-align: middle
}



.gamePanel {
    border: 5px solid black;
    color: white;
    padding: 5px;
}

.gamePanel input[type=button] {
    padding: 5px;
    border: none;
}

#mouseCoordinates {
    color: white;
    font-weight: bold;
}

.progress {
  width: 20vw;
  border:3px solid black;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
}


span:has(>img):hover:after
{
    color: white;
  font-weight: bold;
  position: relative;
    top: -25px;
    content: attr(data-title);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 5px;
}


.progress .bar {
  text-align: center;
  border-radius: 10px;
  height: 100%;
  background: linear-gradient(red, rgb(255, 118, 118), red);
  background-repeat: repeat;
  box-shadow: 0 0 10px 0px red;
  transition: width 1s ease;
  
}

#charStats
{
    color: white;
  font-weight: bold;
  margin: 20px;
}
.navIMG
{
    display: inline-block;
    transition: 0.5s ease;
}
.navIMG:hover
{
    width: 4.5vw;
    height: 4.5vw;
    cursor: pointer;
}
#charStats #pfp
{
    margin-left: 25%;
    height: 10vw;
    width: 10vw;
}
#charStats>span
{
    display: inline-block;
    margin-block: 15px;
}

#logout
{
left:calc(100% - 4.5vw);
top:calc(100% - 4.5vw);
}
#logout:hover:after
{
    position: absolute;
    left: -70px;
    top: -25px;
}
#clock
{
    left:calc(100% - 4.5vw);
bottom:calc(100% - 4.5vw);
}
#clock:hover:after
{
    position: absolute;
    left: -40px;
    top: 60px;
}
#map
{
    position: absolute;
    top:calc(100% - 4.5vw);
}
.globalPanel
{
    top:50%;
    margin-left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    
}

.closeButton
{
    --width:30px;
    --height:30px;
    position: absolute;
    top: calc(-1 * var(--width));
    right: calc(-1 * var(--height));
    width: var(--width);
    height: var(--height);
    background-color: red;
}

#inventory>div
{
    display: inline-block;
    position: relative;
    text-align: center;
}
#inventory span:hover:after
{
position: absolute;
    left:10px;
}

div#HP
{
    width: 100%;
    height: 10px;
}
div#HP div
{
background-color: red;
height: 100%;
}
div#Action{
    min-width: 100px;
}
.conversationPanel{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-auto-columns: 0;
    column-gap: 10px;
    border: 3px solid black;
    color: black;
    font-weight: bold;
    bottom: 0;
}
.conversationPanel figure
{
    margin: 0;
    text-align: center;
}


.conversationPanel figure img
{
    margin-bottom: 6px;
}
.conversationPanel button
{
    display: block;
    margin-inline: auto;
}



#ActionProgress{
    background-color: green;
    height: 60px;
}

#quests
{
    top: 4vw;
    right: 0%;
    height:  calc(100% - 8vw);
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-margin: 0;
    scroll-padding: 0;
    padding: 5px;
}

.questCard
{
    text-align: center;
    border: 2px solid black;
    margin: 5px;
}


div#newOffer
{
    position: absolute;
    top: 0;
    right: auto;
}