@font-face {
  font-family: 'OwnFont';
  src: url('./assets/font/font.woff2') format('woff2');
}

body {
  padding: 0px;
  background-image: url(./assets/main_bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: 'OwnFont', sans-serif !important;
}

#name {
  font-size: 20px;
  vertical-align: middle;
}

nav {
  background-image: url(./assets/navbar_piece.png);
  background-repeat: repeat;
  background-size: 90px;
}

.fbLogo {
  float: right;
  padding: 2.5px 10px 2.5px 10px;
  opacity: 1;
}

.igLogo {
  float: right;
  padding: 2.5px 10px 2.5px 10px;
}

#gameLogo {
  border-radius: 100%;
  height: 260px;
  width: 300px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 2;
}

#border {
  border: 20px solid transparent;
  border-image: url(./assets/border.png) 70;
  margin-top: 220px;
  min-width: 300px;
}

#mainPanel {
  position: relative;
  background: transparent url(./assets/table_bg.png) repeat;
  overflow: hidden;
}

#buttonPanel {
  /* background-image: url(./assets/bg2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%; */
  margin-left: 12px;
  margin-right: 12px;
}

.menuBox {
  min-height: 40px;
  min-width: 130px;
  padding: 0px;
}

.menuItem {
  background-image: url(./assets/buttons/button1.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition-duration: 0.4s;
  margin: 10px 0px 10px 0px;
  min-height: 60px;
  min-width: 200px;
  color: gold;
  font-size: 25px;
  border-radius: 1rem;
}

.menuItem:hover {
  background-image: url(./assets/buttons/button1H.png);
  color: yellow;
}

.menuItem2 {
  background-image: url(./assets/buttons/button2.png);
  background-color: transparent;
  border-style: none;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition-duration: 0.4s;
  margin: 10px 0px 10px 0px;
  min-height: 80%;
  min-width: 100%;
  color: yellow;
  font-size: 25px;
}

.menuItem2:hover {
  background-image: url(./assets/buttons/button2H.png);
}

.loginBtn {
  background-image: url(./assets/buttons/button3.png);
  background-color: transparent;
  border-style: none;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition-duration: 0.4s;
  margin: 10px 0px 10px 0px;
  min-height: 80%;
  min-width: 100%;
  color: yellow;
  font-size: 25px;
}

.loginBtn:hover {
  background-image: url(./assets/buttons/button3H.png);
}

.marginLeft {
  margin-left: 120px;
}

.apkDownload {
  background-image: url(./assets/android.png);
  background-color: transparent;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition-duration: 0.4s;
  border-style: none;
  min-height: 70%;
  min-width: 90%;
}

.apkDownload:hover {
  background-color: transparent;
  background-image: url(./assets/android.gif);
}

.apkManual {
  font-weight: bold;
}

.arrow {
  font-weight: 1000%;
  text-align: center;
}

#firstBlock {
  padding: 0px;
  overflow: hidden;
  color: black;
  text-align: left;
  border: 2px solid white;
  margin-bottom: 0;
  font-weight: bold;
}

.jatekrol {
  border: 1px solid white;
  background-image: url(./assets/paper.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  height: 100%;
}

.jatekrol a {
  padding: 10px 40px 10px 0px;
  float: right;
}

.featureHeader {
  min-height: 50px;
}

.featureTitle {
  font-size: 20px;
  color: rgb(176, 18, 18) !important;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.feature {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0px;
}

#secondBlock {
  padding: 0px;
  overflow: hidden;
  color: black;
  text-align: left;
  font-weight: bold;
  border: 2px solid white;
  margin-bottom: 0;
}

#thirdBlock {
  padding: 0px;
  overflow: hidden;
  color: black;
  text-align: left;
  font-weight: bold;
  border: 2px solid white;
  margin-bottom: 0;
}

.news {
  height: 450px;
}

#logRegMenu {
  padding: 0px;
  overflow: hidden;
  color: white;
  border-color: white;
  border: solid 1px;
}

#log {
  border: 1px solid white;
  height: 280px;
}

#reg {
  border: 1px solid white;
  height: 170px;
}

#bejelentkezes {
  text-align: center;
  margin: 50px 0px 10px 0px;
}

.input {
  width: 170px;
}

#kerdes {
  margin: 40px 0px 10px 0px;
}

#mobile {
  border: 1px solid white;
  height: 450px;
}

#mobilePanel {
  padding: 0px;
  overflow: hidden;
  color: white;
  border-color: white;
  border: solid 1px;
}

.androidPanel {
  margin: 17px auto 17px auto;
}

.android {
  border: 1px solid white;
  height: 200px;
}

.box {
  height: 100px;
  margin: 48px 0px 48px 0px;
}

#androidLogo {
  padding-bottom: 10px;
}

#androidObject {
  padding: 75px 0px 75px 0px;
}

#lanc {
  margin: auto;
  height: 200px;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  border-image: url(./assets/border.png) 70 repeat;
  min-width: 300px;
}

#footer {
  height: 200px;
  background-color: black;
  opacity: 0.7;
  min-width: 300px;
}

@media only screen and (max-width: 950px) {
  body {
    font-size: 13px;
  }

  .input {
    width: 130px;
  }

  .menuBox {
    min-width: 100px;
  }

  .menuItem {
    min-width: 140px;
    min-height: 40px;
    padding: 0px;
  }

  #border {
    margin-top: 220px;
  }

  .jatekrol a {
    padding: 0px 20px 30px 0px;
  }
}

@media only screen and (min-width: 950px) and (max-width: 1100px) {
  #border {
    margin-top: 210px;
  }

  .menuBox {
    min-width: 70px;
  }

  .menuItem {
    min-width: 95px;
    min-height: 40px;
    padding: 0px;
  }

  .jatekrol a {
    padding: 0px 20px 30px 0px;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1500px) {
  .menuBox {
    min-width: 100px;
  }

  .menuItem {
    min-height: 40px;
    min-width: 105px;
    padding: 0px;
  }

  .jatekrol a {
    padding: 0px 20px 30px 0px;
  }

  .featureTitle {
    padding-top: 10px;
  }
}